body{
    font-family: 'Roboto', sans-serif;
    color: rgb(241, 238, 238);
    background-color: black;
    margin: 0;
}
h1{
    font-size: 40px;
    font-weight: 100;
}

.partial-header{
    color: blueviolet;
}

.first-part{
    display: flex;
    
}

.half-width{
    width: 50%;
    padding: 5%;
}

.hire-button{
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(violet, blue);
    color: white;
    border-radius: 5%;
}

.second-part{
    display: flex;
}

.working-pic{
    width: 80%;
}

.footnote{
    text-align: center;
    color: gray;
}