body{
    font-family: 'Roboto', sans-serif;
    color: rgb(241, 238, 238);
    background-color: black;
    
}
h1{
    font-size: 40px;
    font-weight: 100;
}

.partial-header{
    color: blueviolet;
}

.first-part{
    display: flex;
    
}

.half-width{
    width: 50%;
    padding: 5%;
}

.hire-button{
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(violet, blue);
    color: white;
    border-radius: 5%;
}

.second-part{
    display: flex;
}

.working-pic{
    width: 80%;
}

.footnote{
    text-align: center;
    color: gray;
}
.experience{
    background-color: rgb(235, 235, 235);
    margin: 3%;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 15px 15px 20px rgb(0, 51, 128);
}
.experience-part{
    padding: 1%;
    color: rgb(47, 129, 196);
    border-left: 7px solid rgb(255, 0, 0);
}